.Trustpilot {background: yellow;}
.BMO {background: blue;}
.OwningOurFaith {background: green;}

#panels {
  display: flex;
  flex-direction: row;
  width: 10vw;
  height: 300px;
  justify-content: space-around;
}