.aboutme-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

grid-template-areas;
    "banner-img banner-img"
    "header header"
    "section-1 section-2"
    "footer footer"
}

.header {
  grid-area: header;
}

