.aboutme-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100vw;
  grid-template-areas:
    "banner-img banner-img banner-img banner-img"
    ". header header .";
}

.header {
  grid-area: header;
}

.banner-img {
  grid-area: banner-img;
  width: 100%;
  height: 300px;
}

.img1 {
  height: 100%;
  width: 100%;
}

.introduction {
  display: inline;
}

.test {
  width: 150px;
  float: left;
}