.aboutme-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100vw;
  grid-template-areas:
    "banner-img banner-img"
    "header header";
}

.header {
  grid-area: header;
}

.banner-img {
  grid-area: banner-img;
}
